*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

/* HEADER */
/*/ HEADER */

/* MAIN */

 /* CONTENITORE */
 .contenitore {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
 }
 .riga {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .col {
    width: calc(90% / 3);
    margin-bottom: 4rem;
    font-size: .7rem;
    position: relative;
}

/* PREZZI */
.rosso {
    color: red;
}
.sbarrato {
    text-decoration: line-through;
}

.col .back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.col:hover .back {
    z-index: 1;
}



    











/*/ MAIN */

/* FOOTER */
/*/ FOOTER */